// ----------------------------------------------------------------------------
// Clicker App component
// ----------------------------------------------------------------------------

@use 'base';

:host {
  display: block;
  border: 2px dashed base.$secondary-color;
  padding: 0.5rem;
}
